{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="mt-3">Liste des Annonces</h1>


    <div class="row mb-2 mt-2">
        <div class="col text-right">
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <tr>

        </tr>

        {%  for category in annonces %}
            <tr>

                    <p> Categorie: {{ category.category}}</p>

                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}